.container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.tray {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.tray--orientation-horizontal {
  flex-direction: row;
  height: 100%;
}
.tray--orientation-vertical {
  flex-direction: column;
  width: 100%;
}
