.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.carousel__tray {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.carousel--horizontal .carousel__tray {
  flex-direction: row;
  height: 100%;
}
.carousel--vertical .carousel__tray {
  flex-direction: column;
  width: 100%;
}
